.vscode/**
.latec/**
.html/**
latex/annotated.tex
latex/doxygen.sty
latex/ETHICAL__USE_8md.tex
latex/etoc_doxygen.sty
latex/fftreader_8py.tex
latex/files.tex
latex/Licence_8md.tex
latex/log_8md.tex
latex/longtable_doxygen.sty
latex/Makefile
latex/md_ETHICAL__USE.tex
latex/md_Licence.tex
latex/md_log.tex
latex/md_README.tex
latex/mega_8ino_a3f2350d97e2b928dece5642ebfc1d173_icgraph.md5
latex/mega_8ino_a3f2350d97e2b928dece5642ebfc1d173_icgraph.pdf
latex/mega_8ino_a4fc01d736fe50cf5b977f755b675f11d_cgraph.md5
latex/mega_8ino_a4fc01d736fe50cf5b977f755b675f11d_cgraph.pdf
latex/mega_8ino_a6a71613af02032b584a29843dfa210e3_cgraph.md5
latex/mega_8ino_a6a71613af02032b584a29843dfa210e3_cgraph.pdf
latex/mega_8ino_a6a71613af02032b584a29843dfa210e3_icgraph.md5
latex/mega_8ino_a6a71613af02032b584a29843dfa210e3_icgraph.pdf
latex/mega_8ino_a29cc47cb6982704e8c4045db0927b888_icgraph.md5
latex/mega_8ino_a29cc47cb6982704e8c4045db0927b888_icgraph.pdf
latex/mega_8ino_a138f7c0b252c7ce1ab90effb48f11e8f_cgraph.md5
latex/mega_8ino_a138f7c0b252c7ce1ab90effb48f11e8f_cgraph.pdf
latex/mega_8ino_a655fbb166da1b41c76c7625c45ed0670_icgraph.md5
latex/mega_8ino_a655fbb166da1b41c76c7625c45ed0670_icgraph.pdf
latex/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_cgraph.md5
latex/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_cgraph.pdf
latex/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_icgraph.md5
latex/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_icgraph.pdf
latex/mega_8ino_ab73d664dc2a9be82c7e58d71287e81dc_icgraph.md5
latex/mega_8ino_ab73d664dc2a9be82c7e58d71287e81dc_icgraph.pdf
latex/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_cgraph.md5
latex/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_cgraph.pdf
latex/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_icgraph.md5
latex/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_icgraph.pdf
latex/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_cgraph.md5
latex/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_cgraph.pdf
latex/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_icgraph.md5
latex/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_icgraph.pdf
latex/mega_8ino_af28624e85d3855fa34a3454683d6cae9_icgraph.md5
latex/mega_8ino_af28624e85d3855fa34a3454683d6cae9_icgraph.pdf
latex/mega_8ino_afdb8f1c153f8cbfca1348fe5ee95f80e_cgraph.md5
latex/mega_8ino_afdb8f1c153f8cbfca1348fe5ee95f80e_cgraph.pdf
latex/mega_8ino_afe461d27b9c48d5921c00d521181f12f_cgraph.md5
latex/mega_8ino_afe461d27b9c48d5921c00d521181f12f_cgraph.pdf
latex/mega_8ino.tex
latex/namespacefftreader_a4f157c03e73f27ca9db0b5a843aa69ce_icgraph.md5
latex/namespacefftreader_a4f157c03e73f27ca9db0b5a843aa69ce_icgraph.pdf
latex/namespacefftreader_a26e3430220bb2612641709fb27b84283_icgraph.md5
latex/namespacefftreader_a26e3430220bb2612641709fb27b84283_icgraph.pdf
latex/namespacefftreader_a71c950d9d5ffd34bf3bfb296c763d033_icgraph.md5
latex/namespacefftreader_a71c950d9d5ffd34bf3bfb296c763d033_icgraph.pdf
latex/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_cgraph.md5
latex/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_cgraph.pdf
latex/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_icgraph.md5
latex/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_icgraph.pdf
latex/namespacefftreader_aba765a91291d5c11c9ffb7a7a9dc9a23_cgraph.md5
latex/namespacefftreader_aba765a91291d5c11c9ffb7a7a9dc9a23_cgraph.pdf
latex/namespacefftreader_acb3e547360725bedb3ae422b87a3bb09_icgraph.md5
latex/namespacefftreader_acb3e547360725bedb3ae422b87a3bb09_icgraph.pdf
latex/namespacefftreader_ae4b76d9e7872e46a730bcd8b9c2a8377_cgraph.md5
latex/namespacefftreader_ae4b76d9e7872e46a730bcd8b9c2a8377_cgraph.pdf
latex/namespacefftreader.tex
latex/namespaces.tex
latex/README_8md.tex
latex/refman.tex
latex/structSensorPz.tex
latex/tabu_doxygen.sty
html/annotated.html
html/bc_s.png
html/bc_sd.png
html/classes.html
html/closed.png
html/doc.svg
html/docd.svg
html/doxygen.css
html/doxygen.svg
html/dynsections.js
html/ETHICAL__USE_8md.html
html/fftreader_8py.html
html/files.html
html/folderclosed.svg
html/folderclosedd.svg
html/folderopen.svg
html/folderopend.svg
html/functions_func.html
html/functions_vars.html
html/functions.html
html/globals_defs.html
html/globals_func.html
html/globals_vars.html
html/globals.html
html/graph_legend.html
html/graph_legend.md5
html/graph_legend.png
html/index.html
html/jquery.js
html/Licence_8md.html
html/log_8md.html
html/md_ETHICAL__USE.html
html/md_Licence.html
html/md_log.html
html/md_README.html
html/mega_8ino_a3f2350d97e2b928dece5642ebfc1d173_icgraph.map
html/mega_8ino_a3f2350d97e2b928dece5642ebfc1d173_icgraph.md5
html/mega_8ino_a3f2350d97e2b928dece5642ebfc1d173_icgraph.png
html/mega_8ino_a4fc01d736fe50cf5b977f755b675f11d_cgraph.map
html/mega_8ino_a4fc01d736fe50cf5b977f755b675f11d_cgraph.md5
html/mega_8ino_a4fc01d736fe50cf5b977f755b675f11d_cgraph.png
html/mega_8ino_a6a71613af02032b584a29843dfa210e3_cgraph.map
html/mega_8ino_a6a71613af02032b584a29843dfa210e3_cgraph.md5
html/mega_8ino_a6a71613af02032b584a29843dfa210e3_cgraph.png
html/mega_8ino_a6a71613af02032b584a29843dfa210e3_icgraph.map
html/mega_8ino_a6a71613af02032b584a29843dfa210e3_icgraph.md5
html/mega_8ino_a6a71613af02032b584a29843dfa210e3_icgraph.png
html/mega_8ino_a29cc47cb6982704e8c4045db0927b888_icgraph.map
html/mega_8ino_a29cc47cb6982704e8c4045db0927b888_icgraph.md5
html/mega_8ino_a29cc47cb6982704e8c4045db0927b888_icgraph.png
html/mega_8ino_a138f7c0b252c7ce1ab90effb48f11e8f_cgraph.map
html/mega_8ino_a138f7c0b252c7ce1ab90effb48f11e8f_cgraph.md5
html/mega_8ino_a138f7c0b252c7ce1ab90effb48f11e8f_cgraph.png
html/mega_8ino_a655fbb166da1b41c76c7625c45ed0670_icgraph.map
html/mega_8ino_a655fbb166da1b41c76c7625c45ed0670_icgraph.md5
html/mega_8ino_a655fbb166da1b41c76c7625c45ed0670_icgraph.png
html/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_cgraph.map
html/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_cgraph.md5
html/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_cgraph.png
html/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_icgraph.map
html/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_icgraph.md5
html/mega_8ino_a686b2fadbd49628dbee91606f58ca4c7_icgraph.png
html/mega_8ino_ab73d664dc2a9be82c7e58d71287e81dc_icgraph.map
html/mega_8ino_ab73d664dc2a9be82c7e58d71287e81dc_icgraph.md5
html/mega_8ino_ab73d664dc2a9be82c7e58d71287e81dc_icgraph.png
html/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_cgraph.map
html/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_cgraph.md5
html/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_cgraph.png
html/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_icgraph.map
html/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_icgraph.md5
html/mega_8ino_ad6e0da35e82ee741ee4e9779fdf9e1c9_icgraph.png
html/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_cgraph.map
html/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_cgraph.md5
html/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_cgraph.png
html/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_icgraph.map
html/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_icgraph.md5
html/mega_8ino_ad97e1651258f04ff0c1f74136910ce2d_icgraph.png
html/mega_8ino_af28624e85d3855fa34a3454683d6cae9_icgraph.map
html/mega_8ino_af28624e85d3855fa34a3454683d6cae9_icgraph.md5
html/mega_8ino_af28624e85d3855fa34a3454683d6cae9_icgraph.png
html/mega_8ino_afdb8f1c153f8cbfca1348fe5ee95f80e_cgraph.map
html/mega_8ino_afdb8f1c153f8cbfca1348fe5ee95f80e_cgraph.md5
html/mega_8ino_afdb8f1c153f8cbfca1348fe5ee95f80e_cgraph.png
html/mega_8ino_afe461d27b9c48d5921c00d521181f12f_cgraph.map
html/mega_8ino_afe461d27b9c48d5921c00d521181f12f_cgraph.md5
html/mega_8ino_afe461d27b9c48d5921c00d521181f12f_cgraph.png
html/mega_8ino.html
html/menu.js
html/menudata.js
html/minus.svg
html/minusd.svg
html/namespacefftreader_a4f157c03e73f27ca9db0b5a843aa69ce_icgraph.map
html/namespacefftreader_a4f157c03e73f27ca9db0b5a843aa69ce_icgraph.md5
html/namespacefftreader_a4f157c03e73f27ca9db0b5a843aa69ce_icgraph.png
html/namespacefftreader_a26e3430220bb2612641709fb27b84283_icgraph.map
html/namespacefftreader_a26e3430220bb2612641709fb27b84283_icgraph.md5
html/namespacefftreader_a26e3430220bb2612641709fb27b84283_icgraph.png
html/namespacefftreader_a71c950d9d5ffd34bf3bfb296c763d033_icgraph.map
html/namespacefftreader_a71c950d9d5ffd34bf3bfb296c763d033_icgraph.md5
html/namespacefftreader_a71c950d9d5ffd34bf3bfb296c763d033_icgraph.png
html/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_cgraph.map
html/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_cgraph.md5
html/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_cgraph.png
html/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_icgraph.map
html/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_icgraph.md5
html/namespacefftreader_a072dc5f3da124d3418ff89159c4a6df7_icgraph.png
html/namespacefftreader_aba765a91291d5c11c9ffb7a7a9dc9a23_cgraph.map
html/namespacefftreader_aba765a91291d5c11c9ffb7a7a9dc9a23_cgraph.md5
html/namespacefftreader_aba765a91291d5c11c9ffb7a7a9dc9a23_cgraph.png
html/namespacefftreader_acb3e547360725bedb3ae422b87a3bb09_icgraph.map
html/namespacefftreader_acb3e547360725bedb3ae422b87a3bb09_icgraph.md5
html/namespacefftreader_acb3e547360725bedb3ae422b87a3bb09_icgraph.png
html/namespacefftreader_ae4b76d9e7872e46a730bcd8b9c2a8377_cgraph.map
html/namespacefftreader_ae4b76d9e7872e46a730bcd8b9c2a8377_cgraph.md5
html/namespacefftreader_ae4b76d9e7872e46a730bcd8b9c2a8377_cgraph.png
html/namespacefftreader.html
html/namespacemembers_func.html
html/namespacemembers_vars.html
html/namespacemembers.html
html/namespaces.html
html/nav_f.png
html/nav_fd.png
html/nav_g.png
html/nav_h.png
html/nav_hd.png
html/open.png
html/pages.html
html/plus.svg
html/plusd.svg
html/README_8md.html
html/splitbar.png
html/splitbard.png
html/structSensorPz-members.html
html/structSensorPz.html
html/sync_off.png
html/sync_on.png
html/tab_a.png
html/tab_ad.png
html/tab_b.png
html/tab_bd.png
html/tab_h.png
html/tab_hd.png
html/tab_s.png
html/tab_sd.png
html/tabs.css
html/search/all_0.js
html/search/all_1.js
html/search/all_2.js
html/search/all_3.js
html/search/all_4.js
html/search/all_5.js
html/search/all_6.js
html/search/all_7.js
html/search/all_8.js
html/search/all_9.js
html/search/all_10.js
html/search/all_11.js
html/search/all_12.js
html/search/all_a.js
html/search/all_b.js
html/search/all_c.js
html/search/all_d.js
html/search/all_e.js
html/search/all_f.js
html/search/classes_0.js
html/search/close.svg
html/search/defines_0.js
html/search/defines_1.js
html/search/defines_2.js
html/search/files_0.js
html/search/files_1.js
html/search/files_2.js
html/search/files_3.js
html/search/files_4.js
html/search/functions_0.js
html/search/functions_1.js
html/search/functions_2.js
html/search/functions_3.js
html/search/functions_4.js
html/search/functions_5.js
html/search/functions_6.js
html/search/functions_7.js
html/search/functions_8.js
html/search/functions_9.js
html/search/functions_a.js
html/search/functions_b.js
html/search/mag_d.svg
html/search/mag_sel.svg
html/search/mag_seld.svg
html/search/mag.svg
html/search/namespaces_0.js
html/search/pages_0.js
html/search/pages_1.js
html/search/pages_2.js
html/search/pages_3.js
html/search/pages_4.js
html/search/pages_5.js
html/search/pages_6.js
html/search/pages_7.js
html/search/pages_8.js
html/search/pages_9.js
html/search/search.css
html/search/search.js
html/search/searchdata.js
html/search/variables_0.js
html/search/variables_1.js
html/search/variables_2.js
html/search/variables_3.js
html/search/variables_4.js
html/search/variables_5.js
html/search/variables_6.js
html/search/variables_7.js
html/search/variables_8.js
html/search/variables_9.js
html/search/variables_a.js
